<div class="container">
  <img class="intro" width="100%" height="200">
  <div *ngIf="!deviceXs">
    <div class="item">
      <h2 class="title">SAVE 20% WHEN </h2>
      <h2 class="title">YOU SPEND £50!</h2>
      <p class="title">With code: HURRAY20</p>
    </div>
    <div class="text-bottom">See website for Ts&Cs. Selected marked products excluded from promo.</div>
  </div>

  <div *ngIf="deviceXs">
    <div class="item">
      <h2 class="title">SAVE 20% WHEN </h2>
      <h2 class="title">YOU SPEND £50!</h2>
      <p class="title">With code: HURRAY20</p>
    </div>
    <div class="text-bottom">See website for Ts&Cs. Selected marked products excluded from promo.</div>
  </div>
</div>

<div class="video-header" *ngIf="!deviceXs">
  <img class="video" src="assets/images/products/men/desktop.webp">
</div>

<div class="video-header" *ngIf="deviceXs">
  <img class="image-mobile" src="assets/images/products/men/mobile.webp">
</div>

<div class="body">
  <mat-drawer-container class="example-container">
    <mat-drawer-content>
      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="example-card" *ngFor="let p of products">
          <img mat-card-image src="{{p.image}}"
               alt="Photo {{p.name}}">
          <mat-card-content>
            <mat-card-title>{{ p.name}}</mat-card-title>
            <mat-card-subtitle>{{p.price | currency:'USD':'symbol' }}</mat-card-subtitle>
            <p>
              {{p.description}}
            </p>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="space-between and">

            <button mat-raised-button (click)="addToCart(p)">Add To Cart</button>

            <button mat-button>
              <mat-icon
                (click)="onToggle(p)">
                {{p.isFavorite? 'favorite' : 'favorite_border'}}
              </mat-icon>
            </button>

          </mat-card-actions>
        </mat-card>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <!--    <app-slider></app-slider>-->
  <app-footer></app-footer>
</div>

