<div class="container">
  <img class="intro" width="100%" height="200">
  <div *ngIf="!deviceXs">
    <div class="item">
      <h2 class="title">SAVE 20% WHEN </h2>
      <h2 class="title">YOU SPEND £50!</h2>
      <p class="title">With code: HURRAY20</p>
    </div>
    <div class="text-bottom">See website for Ts&Cs. Selected marked products excluded from promo.</div>
  </div>

  <div *ngIf="deviceXs">
    <div class="item">
      <h2 class="title">SAVE 20% WHEN </h2>
      <h2 class="title">YOU SPEND £50!</h2>
      <p class="title">With code: HURRAY20</p>
    </div>
    <div class="text-bottom">See website for Ts&Cs. Selected marked products excluded from promo.</div>
  </div>
</div>

<!--<div class="video-header" *ngIf="!deviceXs">-->
<!--  <img class="video" src="assets/images/products/men/desktop.webp">-->
<!--</div>-->

<!--<div class="video-header" *ngIf="deviceXs">-->
<!--  <img class="image-mobile" src="assets/images/products/men/mobile.webp">-->
<!--</div>-->
