<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row" routerLink="/">
      <div class="wrap-logo">
        <img class="image-logo" src="assets/images/logo.png" alt="">
      </div>
    </div>


    <div *ngIf="!deviceXs" class="search-input" fxLayout="row" fxLayoutAlign="center center">

      <input
        [(ngModel)]="query"
        matInput
        class="search"
        placeholder="Search for items, brands and inspiration"
        maxlength="150"
        (ngModelChange)="filter()"
        (keydown.backspace)="filter()">

    </div>

    <div class="icons" fxLayoutAlign="space-between center" fxLayoutGap="2vw">
      <mat-icon *ngIf="deviceXs" (click)="fadeState = fadeState === 'in' ? 'out' : 'in'">
        {{fadeState === 'out' ? 'search' : 'clear'}}
      </mat-icon>

      <mat-icon style="cursor: pointer" routerLink="/my-orders">perm_identity</mat-icon>
      <mat-icon
        routerLink="/favorites"
        [matBadge]="favoriteProducts>0? favoriteProducts: null"
        style="cursor: pointer"
        matBadgeColor="accent">favorite_border
      </mat-icon>
      <mat-icon
        *ngIf="cart$ | async as cart"
        routerLink="/shopping-cart"
        [matBadge]="cart.totalItemsCount>0? cart.totalItemsCount: null"
        style="cursor: pointer"
        matBadgeColor="warn">
        shopping_cart
      </mat-icon>
    </div>


    <div class="drop-down">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <div *ngIf="appUser" style="padding: 15px">Hello {{appUser.name}}</div>

        <button routerLink="/my-orders" mat-menu-item>
          <span>My Orders</span>
        </button>


        <ng-container *ngIf="appUser && appUser.isAdmin">
          <button routerLink="/admin/orders" mat-menu-item>
            <span>Manage Orders</span>
          </button>
          <button routerLink="/admin/products" mat-menu-item>
            <span>Manage Products</span>
          </button>
        </ng-container>

        <button *ngIf="appUser; else anonymousUser" (click)="logout()" mat-menu-item>
          <span>Logout</span>
        </button>

        <ng-template #anonymousUser>
          <button routerLink="/login" mat-menu-item>
            <span>Login</span>
          </button>
        </ng-template>

      </mat-menu>
    </div>
  </mat-toolbar-row>

  <div class="wrap-arrow" *ngIf="deviceXs">
    <button (click)="back()" mat-icon-button class="arrow-back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between and">
    <div *ngIf="fadeState === 'in'" [@fadeIn]="fadeState" [@fadeOut]="fadeState">

      <input
        [(ngModel)]="query"
        matInput
        class="search"
        placeholder="Search for items, brands and inspiration"
        maxlength="150"
        (ngModelChange)="filter()"
        (keydown.backspace)="filter()">
    </div>

  </mat-toolbar-row>
</mat-toolbar>

