.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


mat-toolbar-row {
  background-color: #2D2D2D;
  color: white;
}

.wrap-logo {
  position: absolute;
  top: 2vh;
  left: 4vw;
  cursor: pointer;
}

.image-logo {
  height: 4vh;
  width: 8vw;
}

.buttons {
  position: absolute;
  left: 20vw;
}

.icons {
  position: absolute;
  right: 8vw;
}

.drop-down {
  position: absolute;
  right: 1vw;
}

.arrow-back {
  position: absolute;
  left: 1vw;
  color: white;
  cursor: pointer;
  top: 1vh;
}

/*---------------------Input-----------------------*/
img.icon-search {
  position: absolute;
  z-index: 1;
  width: 1vw;
  top: calc(50% - 1vw / 2);
  right: 1vw;
  color: white;
}

.search-input {
  position: absolute;
  right: 32vw;
  height: 8vw;
  z-index: 7;
}

.search {
  box-sizing: border-box;
  padding: 1vw;
  width: 40vw;
  height: 1vh;
  border-radius: 15vw;
  outline: none;
  font-size: 1vw;
  line-height: 1vw;
  align-items: center;
  text-align: left;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 2vw;
    width: 90vw;
    font-size: 2.5vw;
    line-height: 2.5vw;
    height: 3vh;
  }

  .image-logo {
    height: 4vh;
    width: 15vw;
  }

  .icons {
    right: 14vw;
  }

  .wrap-logo {
    left: 10vw;
  }

}
