<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <div class="wrap-logo">
        <img class="image-logo" src="assets/images/logo.png" alt="">
      </div>
    </div>

    <div class="buttons" *ngIf="!deviceXs" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw">
      <button mat-raised-button routerLink="/men">MEN</button>
      <button mat-raised-button routerLink="/women">WOMEN</button>
    </div>

    <div *ngIf="!deviceXs" class="search-input" fxLayout="row" fxLayoutAlign="center center">
<!--      <img-->
<!--        src="{{searchMode? '/assets/icons/clear.svg':'/assets/icons/search.svg'}}"-->
<!--        alt="icon search"-->
<!--        class="icon-search">-->

      <input
        class="search"
        type="text"
        (keyup)="onKeyPress()"
        [placeholder]="'Search for items, brands and inspiration'">

    </div>

    <div class="icons" fxLayoutAlign="space-between center" fxLayoutGap="2vw">
      <mat-icon *ngIf="deviceXs">search</mat-icon>
      <mat-icon>perm_identity</mat-icon>
      <mat-icon>favorite_border</mat-icon>
      <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
    </div>

    <div class="drop-down">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <div *ngIf="appUser">Hello {{appUser.name}}</div>

        <button routerLink="/my/orders" mat-menu-item>
          <span>My Orders</span>
        </button>


        <ng-container >
          <button routerLink="/admin/orders" mat-menu-item>
            <span>Manage Orders</span>
          </button>
          <button routerLink="/admin/products" mat-menu-item>
            <span>Manage Products</span>
          </button>
        </ng-container>

        <button *ngIf="appUser; else anonymousUser" (click)="logout()" mat-menu-item>
          <span>Logout</span>
        </button>

        <ng-template #anonymousUser>
          <button routerLink="/login" mat-menu-item>
            <span>Login</span>
          </button>
        </ng-template>

      </mat-menu>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between and">
    <button mat-button routerLink="/men">MEN</button>
    <button mat-button routerLink="/women">WOMEN</button>
  </mat-toolbar-row>
</mat-toolbar>

