form {
  padding : 60px;
}

.card {
  padding : 20px;
}

.example-card {
  max-width: 350px;
  margin: 5px 5px 5px 5px;
}


mat-drawer {
  position: fixed;
  background-color: rgb(236, 236, 236);
}

.example-sidenav-content:first-child {
  margin: 10px 5px 5px 5px;
}

.list-width {
  width: 200px;
}

.list-item:hover {
  background-color: rgba(83, 83, 83, 0.178);
  cursor: pointer;
}

button {
  margin: 5px;
}

/*-------------------Table Style-----------*/
.body {
  position: absolute;
  right: 0;
  left: 0;
}

img.mat-card-image {
  width: 335px;
  height: 55vh;
}


@media only screen and (min-width: 600px) {
  .item {
    right: 40vw;
    left: 40vw;
    top: calc(50% - 80% / 2);
  }

  .text-bottom {
    color: #ffffff;
    position: absolute;
    bottom: 2vw;
    font-size: 1vw;
    right: 32vw;
  }

}
