<div class="wrap-button">
  <button routerLink="/admin/products/new" mat-raised-button color="primary">
    New Product
  </button>

</div>
<!-- Filter Input -->
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search">
</p>

<!-- Product Table -->
<table mat-table [dataSource]="dataSource" matSort class="table">

  <!-- Title Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-sort-header> Name </th>
    <td *matCellDef="let product"> {{product.value.name}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th *matHeaderCellDef mat-sort-header>Price</th>
    <td *matCellDef="let product"> {{product.value.price | currency}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef></th>
    <td *matCellDef="let product">
      <a [routerLink]="['/admin/products', product.key]">Edit</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
<!--<div class="example-container mat-elevation-z8">-->

<!--  <mat-table [dataSource]="products" matSort>-->
<!--    <ng-container matColumnDef="name">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row"> {{row.value.name}} </mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="price">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row"> {{row.value.price | currency:'USD': true}} </mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="edit">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row">-->
<!--        <a [routerLink]="['/admin/products',row.key]"> Edit </a>-->
<!--      </mat-cell>-->
<!--      <td mat-footer-cell *matFooterCellDef></td>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--  </mat-table>-->

<!--  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
<!--</div>-->

<!--<div class="input-search">-->
<!--  <input-->
<!--    class="search"-->
<!--    matInput-->
<!--    #query-->
<!--    (keypress)="doFilter(query)"-->
<!--    placeholder="Search..."-->
<!--    type="text">-->
<!--</div>-->

<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Name</th>-->
<!--    <th>Price</th>-->
<!--    <th>Action</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let product of filteredProducts">-->
<!--      <td>{{product.value.name}}</td>-->
<!--    <td>{{product.value.price | currency:'USD': true}}</td>-->
<!--    <td>-->
<!--      <a [routerLink]="['/admin/products',product.key]"> Edit </a>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
